/* Common styles */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

:root {
  --brand-color: #2e2f42;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

input {
  font-family: inherit;
}

.main-images {
  display: block;
}

/* Header styles */

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-flex;
  align-items: center;
}

.header-logo-up {
  color: var(--NAVY-BLUE, #2e2f42);
}

.header-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav {
  display: flex;
  align-items: center;
}

.link-studio {
  color: #404bbf;
  position: relative;
}

.link-studio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-container {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-contact {
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
}

/* Hero styles */

.hero {
  max-width: 1440px;
  margin: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background: var(--NAVY-BLUE, #2e2f42);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  max-width: 496px;
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  text-align: center;
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  background: var(--IRIS, #4d5ae5);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* Main styles */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature {
  padding: 120px 0;
}

.feature-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.main-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.main-item {
  background: var(--WHITE, #ffffff);
}

.feature-list {
  display: flex;
  margin-top: 0;
  justify-content: space-between;
  gap: 24px;
}

.ourteam-list {
  gap: 24px;
}

.feature-text {
  margin-top: 8px;
}

.feature-item {
  width: 264px;
  flex-direction: column;
  gap: 8px;
}

.image-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.our-team {
  background: var(--CLOUD, #f4f4fd);
  padding-bottom: 120px;
  padding-top: 120px;
}

.team-text {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.ourteam-list {
  display: flex;
  justify-content: space-between;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  margin-top: 8px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.ourteam-icon {
  fill: #f4f4fd;
}

.our-portfolio {
  margin-top: 0;
  padding-bottom: 120px;
  padding-top: 120px;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  position: relative;
  overflow: hidden;
  list-style-type: none;
}

.project-card:hover .project-card-text {
  transform: translateY(0%);
}

.project-card-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--CLOUD, #f4f4fd);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.main-title {
  margin-bottom: 72px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-border {
  padding: 32px 16px;
  align-items: center;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.main-text {
  color: var(--SLATE, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

.image-title,
.feature-text {
  padding-top: 0;
  padding-bottom: 0;
}

/* Footer styles */

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 0;
}

.footer-logo-down {
  color: var(--CLOUD, #f4f4fd);
}

.logo-down {
  margin-bottom: 16px;
}

.footer-text {
  width: 264px;
  color: var(--CLOUD, #f4f4fd);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.path {
  fill: #4d5ae5;
}

.icon-list-footer {
  display: flex;
  list-style-type: none;
  gap: 16px;
  margin-top: 16px;
}

.icon-link-footer {
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

.social-text-footer {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-container-social {
  display: block;
}

.footer-container {
  display: flex;
  margin-right: 120px;
}

.page-footer {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-right: 120px;
}

/* Footer Subscribe */

.footer-subscribe-container {
  margin-left: 80px;
}

.subscribe-text {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}

.subscribe-email {
  display: flex;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-button {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  color: #fff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.icon-subscribe {
  display: inline-flex;
  margin-left: 16px;
}

/* Backdrop */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-modal-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
}

.close-icon-btn {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover .close-icon-btn,
.close-modal-btn:focus .close-icon-btn {
  fill: #ffffff;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-form {
  position: relative;
}

.modal-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  background-color: transparent;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-lable {
  display: block;
  height: 18px;
  margin-bottom: 4px;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  margin-bottom: 16px;
}

.form-button {
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  background-color: var(--IRIS, #4d5ae5);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  margin-bottom: 24px;
}

.text-label-privacy {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.text-label-privacy a {
  color: #4d5ae5;
  text-decoration: underline;
}

.icon-checkbox {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.checkbox-privacy {
  display: inline-flex;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  align-items: center;
  fill: transparent;
}

.checkbox-input:checked + .text-label-privacy .checkbox-privacy {
  background-color: #404bbf;
  fill: #f4f4fd;
}
