/* ============ COMMON STYLES ============ */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

input {
  font-family: inherit;
}

.picture-container {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-team {
  background-color: #f4f4fd;
}

.ourteam-list {
  align-items: center;
  display: flex;
  row-gap: 72px;
  flex-direction: column;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Roboto", sans-serif;
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.team-title-h3,
.portfolio-title-h3 {
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-text {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main-team-text,
.main-portfolio-text {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============ /COMMON STYLES ============ */

/* HEADER MOBILE STYLE  start*/

.page-header {
  width: 100%;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-contact {
  display: none;
}

.header-logo-up {
  color: #2e2f42;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* HEADER MOBILE STYLE  end*/

/* HERO MOBILE start */

.hero-title {
  max-width: 200px;
  color: #fff;
  text-align: center;
  font-size: 36px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.hero {
  max-width: 767px;
  height: 432px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 72px;
  padding-bottom: 72px;
  background: var(--NAVY-BLUE, #2e2f42);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Icon style */

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.ourteam-icon {
  fill: #f4f4fd;
}

/* /Icon style */

.feature-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card {
  position: relative;
  overflow: hidden;
}

.portfolio-border {
  padding: 32px 16px;
  border: 1px solid var(--CLOUD, #f4f4fd);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  justify-content: center;
  align-items: center;
}

.project-card-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--CLOUD, #f4f4fd);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.project-card:hover .project-card-text {
  transform: translateY(0%);
}
/* ===== Mobile screen  ===== */

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-bg-mobile.jpg");
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-retio: 2) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-bg-mobile@2x.jpg");
  }
}

/* ===== /Mobile screen  ===== */

/* ===== LapTop screen  ===== */

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-bg-tablet.jpg");
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-retio: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-bg-tablet@2x.jpg");
  }
}

/* ===== /LapTop screen  ===== */

/* ===== Desktop screen  ===== */

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-bg-desktop.jpg");
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-retio: 2) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-bg-desktop@2x.jpg");
  }
}

/* ===== /Desktop screen  ===== */

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  margin: 0 auto;
  display: block;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* HERO MOBILE end */

/* FEATURE MOBILE STYLE start */

.feature-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
}

.image-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.feature-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.feature-icon-container {
  display: none;
}
/* FEATURE MOBILE STYLE end */

.mobile-menu-icon-list {
  display: flex;
  gap: 40px;
  padding-top: 56px;
}

/* ======= FOOTER MOBILE STYLES ======= */
.footer {
  background-color: #2e2f42;
  width: 100%;
  height: 664px;
}

.footer-text {
  width: 264px;
  color: var(--CLOUD, #f4f4fd);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-down {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-down {
  color: var(--CLOUD, #f4f4fd);
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 17px;
  margin-bottom: 72px;
}

.footer-social-container {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}

.social-text-footer {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
}

.subscribe-text {
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.subscribe-email {
  width: 288px;
  height: 40px;
  border-radius: 4px;
  padding-left: 16px;
  opacity: 0.3;
  border: 1px solid var(--WHITE, #fff);
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-text {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subscribe-email::placeholder {
  color: #fff;
}

.icon-list-footer {
  gap: 16px;
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

.subscribe-button {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  color: #fff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.icon-subscribe {
  margin-left: 16px;
}
/* ======= /FOOTER MOBILE STYLES ======= */

/* ====== BACKDROP MOBILE STYLES======= */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
}

.close-icon-btn {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover .close-icon-btn,
.close-modal-btn:focus .close-icon-btn {
  fill: #ffffff;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal {
  position: absolute;
  width: 288px;
  min-height: 632px;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-form {
  position: relative;
}

.modal-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  background-color: transparent;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-lable {
  display: block;
  margin-bottom: 4px;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  margin-bottom: 16px;
}

.form-button {
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  background-color: var(--IRIS, #4d5ae5);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  margin-bottom: 24px;
}

.text-label-privacy {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.icon-checkbox {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-privacy {
  display: inline-flex;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  align-items: center;
  fill: transparent;
}

.privacy-policy-link {
  color: var(--IRIS, #4d5ae5);
  text-decoration-line: underline;
}

.checkbox-input:checked + .text-label-privacy .checkbox-privacy {
  background-color: #404bbf;
  fill: #f4f4fd;
}

/* ====== /BACKDROP MOBILE STYLES ======= */

@media screen and (max-width: 767px) {
  /* MENU MOBILE */

  .menu {
    display: none;
  }

  .mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .mobile-open-btn-icon {
    fill: #2f2f37;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 8px;
    border: 1px solid #e7e9fc;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    fill: #2e2f42;
  }

  .mobile-menu-close-btn:hover .mobile-menu-close-btn-icon,
  .mobile-menu-close-btn:focus .mobile-menu-close-btn-icon {
    fill: #ffffff;
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .mobile-menu-container {
    position: relative;
  }

  .menu-mobile-nav {
    padding-top: 72px;
    padding-bottom: 168px;
  }

  .menu-mobile-nav-link {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  .menu-mobile-nav-link-studio {
    color: #404bbf;
    position: relative;
  }

  .menu-mobile-nav-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .menu-mobile-contact-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .menu-mobile-contact-link {
    color: var(--IRIS, #4d5ae5);

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .mobile-email-link {
    color: var(--SLATE, #434455);
  }

  .mobile-menu-icon-item {
    background-color: #404bbf;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .mobile-menu-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-icon-link:hover,
  .mobile-menu-icon-link:focus {
    background-color: #404bbf;
  }

  .mobile-menu-icon {
    fill: #f4f4fd;
  }
  /* /MENU MOBILE */
}

@media screen and (min-width: 320px) {
  .container {
    width: 318px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header-logo {
    margin-right: 120px;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-open-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .link-studio::after {
    display: block;
    content: "";
    bottom: -1px;
    height: 4px;
    width: 48px;
    position: absolute;
    left: 0;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-link {
    display: block;
    color: #2e2f42;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .link-studio {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
  }

  .header-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    font-style: normal;
  }

  .header-contact-link {
    color: #434455;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-contact-link:hover,
  .header-contact-link:focus {
    color: #404bbf;
  }

  .header-item {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
  }

  .hero {
    padding: 112px 0;
    max-width: 768px;
  }

  .image-title {
    text-align: left;
  }

  .feature-list,
  .ourteam-list,
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .feature-item,
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-item .portfolio-list {
    row-gap: 72px;
  }

  .footer {
    height: 456px;
  }

  .page-footer-container {
    width: 545px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .footer-logo-text,
  .footer-social-container,
  .footer-subscribe-container {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .subscribe-form {
    column-gap: 24px;
    flex-direction: row;
  }

  .subscribe-email {
    width: 264px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-contact-list {
    flex-direction: row;
    gap: 40px;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    height: 600px;
  }

  .header-contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .feature-icon-container {
    display: flex;
  }

  .image-title {
    width: 264px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .main-text {
    font-weight: 400;
    width: 264px;
  }

  .feature-text {
    width: 264px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.02em;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .team-item,
  .feature-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .portfolio-list,
  .ourteam-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer {
    height: 312px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .page-footer-container {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    align-items: baseline;
    column-gap: 0;
  }

  .footer-logo-text {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-social-container {
    margin-right: 80px;
    margin-bottom: 0;
  }
}
